html{
    background-color: rgb(120, 183, 219);
    color: whitesmoke;
    padding: 30px;
}

.navbar{
    display: inline-block;
    text-align: left;
    position: fixed;
    background: rgb(161, 210, 238);
    top: 0;
    width: 100%;
    height: 75px;
}

h1{
    font-family: raleway; 
    margin-top: 100px;

}

#main2{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: pink;
}

.title:hover{color: pink;}

body{font-size: 20pt;}

.opening{text-align: center;}

.picture,.picture1{
    width: 150px;
    height:150px;
    padding: 5px;
    position: relative;
}
.picture{float: right;}
.picture1{float: left;}

#animate{animation-name: roll; animation-duration: 2s; animation-iteration-count: infinite;}

@keyframes roll{
    0%{
        transform:rotate(-35deg);
    }
    50%{
        transform:rotate(25deg);
    }
    100%{
        transform:rotate(-35deg);
    }
}

#variety, #survey{
    background-color: pink;
}

#survey{background-color:pink}

#question2{margin-top: 50px;}
#question3{margin-top: 50px;}

input{font-size: 12pt;}

button{margin-left: 160px;}

#input{font-size: 16pt;}


